#gdmi-tabs ul.tabs { 
	list-style:none; 
	margin:0 !important; 
	padding:0;	
	height:30px;
    background: #0ABAB5;
}

#gdmi-tabs ul.tabs li { 
	float:left;	 
	text-indent:0;
	padding:0;
	height: 30px;
	margin:0 !important;
	list-style-image:none !important;
	list-style:none !important;
	outline: none;
	width:50%;
	background: #0ABAB5;
        
}

#gdmi-tabs ul.tabs > a  { 
	display:block;
	width: 100%;
	text-align:center;	
	position:relative;
	text-decoration:none;
	height: 30px;
	line-height: 30px;
	background: #0ABAB5;
	color: #fff;
}

#gdmi-tabs ul.tabs.ui-tabs-anchor a:active {
	outline:none;	
    background: #17c7c2;	
}

#gdmi-tabs ul.tabs a:hover {
	color:#fff;	
}

#gdmi-tabs ul.tabs a.current, #gdmi-tabs ul.tabs a.current:hover, #gdmi-tabs ul.tabs li.current a, .ui-state-active, .ui-state-active a {
    color: #fff !important;
    cursor: default !important;
    background-color: #17c7c2 !important;
    width: 100%;
}

/* width 1 */
ul.tabs a.s 			{ width:81px; }
ul.tabs a.s:hover 	{  }
ul.tabs a.s.current  { }

/* width 2 */
ul.tabs a.l 			{  width:174px; }
ul.tabs a.l:hover 	{ }
ul.tabs a.l.current  {  }

/* width 3 */
ul.tabs a.xl 			{  width:248px; }
ul.tabs a.xl:hover 	{ }
ul.tabs a.xl.current {  }

.panes .pane {
	display:none;		
}

#gdmi-tabs a.gdmi-tab {
        background: #0ABAB5;
        color: #fff;
        padding-left: 10px;
        outline: none;
}